<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097829102652-jgmhd81kr0c36338ci9tlmh1n3milght.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097829102652-jgmhd81kr0c36338ci9tlmh1n3milght</string>
	<key>API_KEY</key>
	<string>AIzaSyAKaWR_eUVx8lKlElEumnPYemykPxTt0uQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1097829102652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ravinderpoonia.bitefix</string>
	<key>PROJECT_ID</key>
	<string>cutsugar-6ad0f</string>
	<key>STORAGE_BUCKET</key>
	<string>cutsugar-6ad0f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097829102652:ios:f810c0b88af12abc8b7f39</string>
</dict>
</plist>